---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Presentacion from '../components/Presentacion.astro';
import Productos from '../components/Productos.astro';
---

<Layout title="Sublimaciones Don Castillo">
	<main>
		<div class="one">
			<Header></Header>
		</div>
		<div class="two">
			<Presentacion>
		</div>
		<div class="three">
			<Productos/>
		</div>
		<div class="four">
			footer
		</div>
		<div></div>
	</main>
</Layout>

<style>
	main{
		display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px repeat(3, 1fr);
	}

	.one{
		grid-column: 1 / 7;
	}
	.two{
		grid-column: 1 / 7;
		
		
	}
	.three{
		grid-column: 1 / 7;
		
	}
	.four{
		grid-column: 1 / 7;
		
	}
</style>
