---
import 
---

<footer>
    <article>
        <header>
            <h1>Nuestas Redes</h1>
            <ul>
                {

                }
            </ul>
        </header>
    </article>
</footer>

<style>
    footer{
        height: 200px;
        width: 100%;
        background-color: orangered;
    }
</style>