---
---

<section>
    <article>
        <img src="/Logo1.svg" alt=""/>
        <h1>¡Deja que tu creatividad brille con nosotros!</h1>
    </article>
    <img src="/img/mugasset1.png" alt="">
   
</section>

<style>
    section{
        height: 500px;
        display: flex;
        justify-content: left;
        border: 1px solid lightgray;
        background:
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
        background-color: rgb(255, 127, 62);
        background-size:75px 100px;
    }
    img{
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 50%;
    }

    li a{
        color:#777;
        display: inline-flex;
        border: 1px solid #eee;
        align-items: center;
        justify-content: center;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: 0.3s;
    }

    article{
        margin: auto;
       text-align: center;
        height: 200px;
        width: 40%;
        border: 1px solid;
        line-height: 3rem;
        padding: 20px;
    }

    article h1{
        text-align: center;
        font-size: 2rem;
    }

    article img{
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 50px;
    }

    article header img{
        aspect-ratio: 1/1;
        height: 50px;
    }
</style>