---
import { products } from '../../products.json'
---

<section>
    <h1>- NUESTROS PRODUCTOS - </h1>
    <p>Ofrecemos Tazas, parches, gorras, remeras, etc. Todo completamente personalizados!</p>
    <div>
        <img src="/img/mugasste2.png" alt="">
    </div>
<!--  <ul>
        {
            products.map(({name, price, info, img})=>{
                return(
                <li>
                    <img src={img}/>
                    <article>
                        <header>
                            <h1>{name}</h1>
                            <p>{info}</p>
                        </header>
                        <footer>
                            <p>{price}</p>
                        </footer>
                    </article>
                </li>)
            })
        }
    </ul>-->   
</section>

<style>
    section{
        width: 100%;   
        text-align: center;  
    }

    h1{
        font-size: 4rem;
    }

    p{
        font-size: 1.2rem;
    }

    img{
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 400px;
        width: 700px;
       
    }

    div{
        margin-top: 50px;
        width: 100%;
        background: rgb(255,127,62);
        background: linear-gradient(13deg, rgba(255,127,62,1) 0%, rgba(96,76,195,1) 100%);
        border-radius: 30px;
        box-shadow: 10px 10px 0px 2px rgb(0, 0, 0, 0.75);
        transition: 0.3s;
    }

    div:hover{
        transform: scale(1.1);
        transition: 0.3s;
        box-shadow: 5px 5px 0px 2px rgb(0, 0, 0, 0.75);
    }


    @media screen and (max-width:900px) {
	img{
        width: 0;
        height: 0;
        visibility: hidden;
    }
	
	}

    /*
    ul{
        display: grid;
        margin: 100px;
    }

    li{
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: auto;
        width: 60%;
        height: 250px;
        overflow: hidden;
        display: inline-flex;
        border-radius: 50px;
        border: 1px solid lightgrey;
    }
    li img{
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 100%;
        transform: scaleX(-1);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background:
        radial-gradient(circle at 100% 50%, transparent 20%, #17153B 21%, #17153B 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, #17153B 21%, #17153B 34%, transparent 35%, transparent) 0 -50px;
        background-color: slategray;
        background-size:75px 100px;
    }

    article{
        width: 60%;
        height: 80%;
        text-wrap: pretty;
        margin: auto;
        padding: 10px;
        justify-content: space-between;
    }

    article header{
        height: 90%;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }

    article header h1{
        font-size: 3rem;
    }

    article header p{
        font-size: 1.5rem;
        color:#555;
    }

    article footer{
        width: 100%;
        padding: 10px;
    }

    article footer p{
        
        text-align: center;
        font-size: 1.5rem;
    }
*/
</style>