---

---

<section>
    <h1>- NUESTROS PRODUCTOS - </h1>
    <p>Ofrecemos Tazas, parches, gorras, remeras, etc. Todo completamente personalizados!</p>
</section>

<style>
    section{
        margin-top: 30px;
        padding: 10px;
        width: 100%;   
        text-align: center; 
        background-color: #FFF6E9; 
    }

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }


    @media screen and (max-width:900px) {
	
        h1{
            font-size: 2rem;
        }
	
	}

</style>